.projectPage {
  position: relative;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 8%;
  @media screen and (min-width: 1200px) {
    left: 55px;
    padding-bottom: 20px;
  }

  & > .container {
    // margin-top: 20px;
    // margin-top: 55px;
    flex-direction: column;
    position: relative;
    // left: 50px;
    // justify-content: center;
    // align-items: center;
    width: 80%;
    // max-width: 950px;
    margin: 55px auto 0;
    // margin-left: 50px;
    // margin: 80px auto 40px;
    // display: inline-block;
    @media screen and (min-width: 720px) {
      margin-top: 65px;
      // width: 65%;
      // margin: 80px auto 40px 50px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 20px;
    }
    & > .title {
      font-family: Gotham-Medium;
      font-size: 4rem;
      letter-spacing: 3px;
      text-align: left;
      color: #bdbdbd;
      margin-top: 0 !important;

      @media screen and (min-width: 720px) {
        font-size: 5rem;
      }
    }

    & > .description {
      font-size: 1.7rem;
      margin-bottom: 25px;

      text-align: left;
      color: #8a8a8a;

      @media screen and (min-width: 720px) {
        font-size: 2rem;
        margin-bottom: 40px;
      }
    }
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  // height: 100px;
  position: relative;
}

.technicalSection {
  margin-top: 30px;
  padding-right: 12%;
  padding-bottom: 70px;
  @media screen and (min-width: 720px) {
    padding-right: 25%;
  }

  & > h4 {
    font-size: 2.5rem;
    color: #bdbdbd;
    margin-bottom: 15px;

    &:first-child {
      margin-top: 10px;
    }

    @media screen and (min-width: 720px) {
      font-size: 3.2rem;
      margin-top: 50px;
    }
  }

  & > p {
    font-size: 1.5rem;
    color: #8a8a8a;
    margin-bottom: 15px;

    @media screen and (min-width: 720px) {
      font-size: 2.3rem;
    }
  }

  & > hr {
    display: block;
    height: 1px;
    width: 30%;
    background-color: #484848;
    position: relative;
    border: 0;
    margin: 0.5em 0 1em;
  }

  & > ol {
    font-size: 1.6rem;
    color: #8a8a8a;
    list-style: circle;

    padding: 0 20px;

    @media screen and (min-width: 720px) {
      padding: 0 35px;
    }

    @media screen and (min-width: 720px) {
      font-size: 2.1rem;
    }

    & > li {
      line-height: 1.5;

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }
}

// $bg: #f3f8fa;
// $white: #fff;
// $onion-purple: #cb70f8;

// @mixin transition(
//   $property: all,
//   $duration: 0.45s,
//   $ease: cubic-bezier(0.65, 0, 0.076, 1)
// ) {
//   transition: $property $duration $ease;
// }

// button {
//   position: relative;
//   display: inline-block;
//   cursor: pointer;
//   outline: none;
//   border: 0;
//   vertical-align: middle;
//   text-decoration: none;
//   background: transparent;
//   padding: 0;
//   font-size: 1.5rem;
//   margin-bottom: 40px;
//   &.learnMore {
//     width: 15rem;
//     height: auto;
//     .circle {
//       @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
//       position: relative;
//       display: block;
//       margin: 0;
//       width: 3rem;
//       height: 3rem;
//       background: $onion-purple;
//       border-radius: 1.625rem;
//       .icon {
//         @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         margin: auto;
//         background: $white;
//         &.arrow {
//           @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
//           left: 0.625rem;
//           width: 1.125rem;
//           height: 0.125rem;
//           background: none;
//           &::before {
//             position: absolute;
//             content: "";
//             top: -0.25rem;
//             right: 0.0625rem;
//             width: 0.625rem;
//             height: 0.625rem;
//             border-top: 0.125rem solid #fff;
//             border-right: 0.125rem solid #fff;
//             transform: rotate(45deg);
//           }
//         }
//       }
//     }
//     .buttonText {
//       @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       padding: 0.75rem 0;
//       margin: 0 0 0 1.85rem;
//       color: $onion-purple;
//       font-weight: 700;
//       line-height: 1.6;
//       text-align: center;
//       text-transform: uppercase;
//     }
//   }
//   &:hover {
//     .circle {
//       width: 100%;
//       .icon {
//         &.arrow {
//           background: $white;
//           transform: translate(1rem, 0);
//         }
//       }
//     }
//     .buttonText {
//       color: $white;
//     }
//   }
// }

.button {
  font-size: 1.2rem;

  text-align: right;
  margin: 0 3% 0 0;

  @media screen and (min-width: 400px) {
    font-size: 1.3rem;
    margin: 0 15% 0 0;
  }

  @media screen and (min-width: 545px) {
    font-size: 1.4rem;
    margin: 0 21% 0 0;
  }
  @media screen and (min-width: 720px) {
    font-size: 1.5rem;
  }
}

.brkBtn {
  position: relative;
  background: none;
  color: #cb70f8;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #cb70f8;
  padding: 0.7em 1.3em;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    &::before {
      right: 80%;
    }
    &::after {
      left: 80%;
    }
  }
}
