.contactPage {
  background: #303030;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 120px;
  }
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #cb70f8;

  margin: 60px 0 15px 0;
  text-align: left;

  @media screen and (min-width: 720px) {
    margin-top: 65px;

    font-size: 5rem;
  }

  @media screen and (min-width: 1028px) {
    // margin-bottom: 10px;
    font-size: 5.5rem;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 30px;
    font-size: 5rem;
  }

  @media screen and (min-width: 1550px) {
    font-size: 6.5rem;
    margin-top: 35px;
  }
}

.contactInfo {
  color: #bdbdbd;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.4;
  padding-left: 15px !important;

  @media screen and (min-width: 720px) {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  @media screen and (min-width: 1028px) {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  @media screen and (min-width: 1200px) {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
  }

  @media screen and (min-width: 1550px) {
    font-size: 3.5rem;
    margin: 25px 0;
  }
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  color: #bdbdbd;
  margin: 2rem 0 1rem 0;

  @media screen and (min-width: 720px) {
    font-size: 3.9rem;
  }
}

.form {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

form {
  width: 100%;

  & li {
    margin-bottom: 1rem;
  }
}

.myCont {
  max-width: 700px;
  margin: 0 9.5vw;

  & > p {
    padding-left: 15px;
  }

  & > h1 {
    margin-top: 55px;

    width: 100%;
    font-size: 4.7rem;
    color: #cb70f8;

    text-align: left;

    @media screen and (min-width: 720px) {
      margin-top: 65px;

      font-size: 5rem;
    }

    @media screen and (min-width: 1028px) {
    }

    @media screen and (min-width: 1200px) {
      margin-top: 30px;
    }
    @media screen and (min-width: 1550px) {
      font-size: 6rem;
      margin-top: 35px;
    }
  }

  .contactInfo {
    color: #bdbdbd;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.4;

    @media screen and (min-width: 720px) {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
    }

    @media screen and (min-width: 1028px) {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }

    @media screen and (min-width: 1200px) {
      font-size: 1.9rem;
      margin-bottom: 0.5rem;
    }

    @media screen and (min-width: 1550px) {
      font-size: 3.5rem;
      margin: 25px 0;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 1550px) {
    min-width: 750px;
  }
}

.vertically {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.container_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 30px;

  @media screen and (max-width: 620px) {
    flex-direction: column;
  }

  & > li {
    position: relative;
    display: flex;
    flex: 1 1 auto;

    &:first-child {
      margin-right: 5px;

      @media screen and (max-width: 620px) {
        flex-direction: column;
        margin-right: 0;
      }
    }

    & > .btn {
      flex: 1 1 auto;
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > li {
    flex: 1 1 auto;
    position: relative;
    width: 100%;

    & > .btn {
      width: 100%;
      flex: 1 1 auto;
    }
  }
}

input,
textarea {
  background: #474747;
  outline: none;
  border: none;
  padding: 0 20px;
  font-size: 1.6rem;
  height: 50px;
  width: 100%;
  text-align: left;
  color: #e6e4e4;

  @media screen and (min-width: 1200px) {
    height: 50px;
    font-size: 1.6rem;
  }

  @media screen and (min-width: 1550px) {
    height: 65px;
    font-size: 2.4rem;
  }

  &::selection {
    color: #212121;
    background: #f5f5f5;
  }
}

textarea {
  height: 200px;
  text-align: left;
  color: #e6e4e4;
  font-size: 2rem;
  padding: 10px 20px;

  @media screen and (min-width: 1200px) {
    height: 200px;
    font-size: 2rem;
  }

  @media screen and (min-width: 1550px) {
    height: 260px;
    font-size: 2.9rem;
  }
}

@mixin btn-border-slide($color, $hoverColor, $borderWidth, $time) {
  $easing: cubic-bezier(0.4, 0, 0.2, 1);

  & + .btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  & + .btn:before,
  & + .btn:after {
    content: "";
    position: absolute;
    left: 0;
    height: $borderWidth;
    width: 100%;
  }

  & + .btn:before {
    top: 0;
  }

  & + .btn:after {
    bottom: 0;
  }

  &:checked {
    & + .btn > * {
      & > * {
        &:before,
        &:after {
          transform: translate3d(0, 0, 0);
        }

        & > * {
          &:before,
          &:after {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }

  & + .btn > * {
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: $borderWidth;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    & > * {
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        z-index: 9;

        height: $borderWidth;
        width: 100%;

        background-color: $hoverColor;
      }

      &:before {
        top: 0;

        transform: translate3d(-105%, 0, 0);
        transition: transform $time $easing;
      }

      &:after {
        bottom: 0;

        transform: translate3d(105%, 0, 0);
        transition: transform $time $easing;
      }

      & > * {
        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          z-index: 9;

          height: 100%;
          width: $borderWidth;

          background-color: $hoverColor;
        }

        &:before {
          left: 0;

          transform: translate3d(0, 105%, 0);
          transition: transform $time $easing;
        }

        &:after {
          right: 0;

          transform: translate3d(0, -105%, 0);
          transition: transform $time $easing;
        }
      }
    }
  }
}

input[type="checkbox"] {
  @include btn-border-slide(#252525, #cb70f8, 2px, 0.8s);
}

.btnControl {
  display: none;
}

.errorText {
  color: #d82262;
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 1.2rem;
}

.errorText::before {
  display: inline;
  content: "⚠ ";
}

.errorBorder {
  box-shadow: 0 0 10px rgba(243, 91, 91, 0.5);
  border: none;

  &:focus-within {
    border: 1px solid rgba(243, 91, 91, 0.5);
    box-shadow: 0 0 15px rgba(243, 91, 91, 0.5);
  }
}

.submitBtn {
  color: #cb70f8;
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #cb70f8;
  background: 0 0;
  text-transform: uppercase;
  float: right;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  font-size: 1.4rem;
  padding: 5px;
  width: 120px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;

  @media screen and (min-width: 720px) {
    width: 140px;
    padding: 6.5px;

    font-size: 1.5rem;
  }

  @media screen and (min-width: 1200px) {
    width: 140px;
    padding: 6.5px;

    font-size: 1.5rem;
  }

  @media screen and (min-width: 1550px) {
    font-size: 2.2rem;
    width: 200px;
    padding: 10px;
  }

  &:hover {
    box-shadow: 0 1px 5px rgba(189, 105, 175, 0.46);
    border: 1px solid #d17ffa;
    color: #d17ffa;
  }
}

.moreInfo {
  color: #bdbdbd;
  max-width: 750px;
  font-size: 1.6rem;
  margin-top: 1.3rem;
  margin-bottom: 2.5rem;
  line-height: 1.4;

  @media screen and (min-width: 720px) {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }
}

.socialSection {
  margin-top: 10px;
}

.socialSection2 {
  display: none; // mediaaaa
}

.entrySocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media screen and (min-width: 1200px) {
    position: fixed;
    right: 0;
    margin-bottom: 0px;
    margin: 20px 0;
    width: auto;
    top: 25%;
    padding-bottom: inherit;
  }
}

.container_other {
  color: rgb(126, 126, 126);
  display: block;
  font-family: "Open Sans", Tahoma, Verdana, Arial, sans-serif, Faruma, Faseyha;
  font-size: 16px;
  font-weight: normal;
  line-height: 23.799999237060547px;
  margin-bottom: 20px;
  border: solid 0px #aaa;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;

  @media screen and (max-width: 470px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    margin: 0px 0px 20px 0px;
    flex-direction: column;
  }

  & div:first-child {
    text-align: right;
    padding: 0 6px 1px 0;
    font-size: 12px;
    display: none;

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
}

.container_other div:not(:first-child) {
  display: block;
  width: 138px;
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(72%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.9, -0.22, 0.91, 1.11);

  @media screen and (max-width: 1200px) {
    transition: none;
    transform: none;
    margin-right: 3px;
  }

  @media screen and (max-width: 470px) {
    margin-bottom: 5px;
    width: 200px;
    border-radius: 15;
  }
}

.container_other > * {
  flex: 1 1 0;
}

.container_other div:hover {
  transform: translate3d(0, 0, 0);
}

.container_other a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
  font-weight: bold;
  height: 40px;

  @media screen and (max-width: 470px) {
    font-size: 1.4rem;
    border-radius: 15px;
  }

  @media screen and (min-width: 720px) {
    height: 50px;
  }
}

.container_other .github a {
  padding: 7px 0;
  position: relative;
  background: #5a32a3;

  @media screen and (min-width: 470px) {
    padding: 7px 0 7px 15px;
  }

  & > i {
    background-image: url("../images/githubContact.svg");
    background-size: contain;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (min-width: 470px) {
      left: 0%;
      top: 50%;
      width: 57px;
      height: 57px;
    }

    @media screen and (min-width: 1200px) {
      left: -1%;
    }
  }
}

.container_other .messanger a {
  position: relative;
  padding: 7px 0 7px 25px;
  background: #0078ff;

  @media screen and (min-width: 470px) {
    padding: 7px 0 7px 30px;
  }

  & > i {
    background-image: url("../images/fbContact.svg");
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (min-width: 470px) {
      left: 0%;
      top: 50%;
      width: 45px;
      height: 45px;
    }

    @media screen and (min-width: 1200px) {
      width: 50px;
      height: 50px;
    }
  }
}

.container_other .linkedin a {
  padding: 7px 0 7px 10px;
  background: #136f9b;
  position: relative;

  @media screen and (min-width: 470px) {
    padding: 7px 0 7px 25px;
  }

  & > i {
    background-image: url("../images/linkedinContact.svg");
    background-size: contain;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (min-width: 470px) {
      left: 0%;
      top: 49%;
      width: 65px;
      height: 65px;
    }

    @media screen and (min-width: 1200px) {
      left: -3%;
    }
  }
}

.container_other .github a:hover {
  @media screen and (max-width: 1200px) {
    background-color: #5a32a39c;
  }
}

.container_other .messanger a:hover {
  @media screen and (max-width: 1200px) {
    background-color: #0060cc;
  }
}

.container_other .linkedin a:hover {
  @media screen and (max-width: 1200px) {
    background: #106187;
  }
}

.submitBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.submitBtn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.submitBtn:hover span {
  padding-right: 25px;
}

.submitBtn:hover span:after {
  opacity: 1;
  right: 0;
}

.forMobile {
  display: inline-block;
  width: 100%;

  & h3 {
    font-size: 2.7rem;
    text-align: left;
    margin-bottom: 15px;
  }

  @media screen and (min-width: 720px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #e6e4e4;
  -webkit-box-shadow: 0 0 0px 1000px #474747 inset;
}
