html:not(.touch) .gallery-image figcaption,
.touch .gallery-image figcaption,
.mfp-with-zoom .mfp-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0);
  padding: 1em;
  transition: all 0.2s ease;
  font-weight: 600;
  max-width: calc(100% - 9em);
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;
}

html:not(.touch) .gallery-image figcaption:before,
.touch .gallery-image figcaption:before,
.mfp-with-zoom .mfp-title:before,
html:not(.touch) .gallery-image figcaption:after,
.touch .gallery-image figcaption:after,
.mfp-with-zoom .mfp-title:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding: 1em;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}

html:not(.touch) .gallery-image figcaption:before,
.touch .gallery-image figcaption:before,
.mfp-with-zoom .mfp-title:before,
html:not(.touch) .gallery-image figcaption:after,
.touch .gallery-image figcaption:after,
.mfp-with-zoom .mfp-title:after {
  right: 100%;
  bottom: 100%;
}

html:not(.touch) .gallery-image figcaption:after,
.touch .gallery-image figcaption:after,
.mfp-with-zoom .mfp-title:after {
  left: 100%;
  top: 100%;
}

html:not(.touch) .gallery-image {
  figcaption.visible,
  &:hover figcaption {
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease 0.3s;
  }
}

.touch .gallery-image figcaption {
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0.3s;
}

.mfp-with-zoom {
  .visible.mfp-title,
  &.mfp-ready .mfp-title {
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease 0.3s;
  }
}

html:not(.touch) .gallery-image {
  figcaption.visible:before,
  &:hover figcaption:before {
    opacity: 1;
  }
}

.touch .gallery-image figcaption:before {
  opacity: 1;
}

.mfp-with-zoom {
  .visible.mfp-title:before,
  &.mfp-ready .mfp-title:before {
    opacity: 1;
  }
}

html:not(.touch) .gallery-image {
  figcaption.visible:after,
  &:hover figcaption:after {
    opacity: 1;
  }
}

.touch .gallery-image figcaption:after {
  opacity: 1;
}

.mfp-with-zoom {
  .visible.mfp-title:after,
  &.mfp-ready .mfp-title:after {
    opacity: 1;
  }
}

html:not(.touch) .gallery-image {
  figcaption.visible:before,
  &:hover figcaption:before {
    right: -1.5em;
    bottom: -1.5em;
  }
}

.touch .gallery-image figcaption:before {
  right: -1.5em;
  bottom: -1.5em;
}

.mfp-with-zoom {
  .visible.mfp-title:before,
  &.mfp-ready .mfp-title:before {
    right: -1.5em;
    bottom: -1.5em;
  }
}

html:not(.touch) .gallery-image {
  figcaption.visible:after,
  &:hover figcaption:after {
    left: -1.5em;
    top: -1.5em;
  }
}

.touch .gallery-image figcaption:after {
  left: -1.5em;
  top: -1.5em;
}

.mfp-with-zoom {
  .visible.mfp-title:after,
  &.mfp-ready .mfp-title:after {
    left: -1.5em;
    top: -1.5em;
  }
}

// html {
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-font-smoothing: antialiased;
//   text-rendering: optimizelegibility;
// }
.portfolioPage {
  position: relative;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    left: 55px;
    padding-bottom: 20px;
  }

  & > .container {
    width: 90%;
    // margin-left: 50px;
    margin: 80px auto 40px;
    // display: inline-block;
    @media screen and (min-width: 620px) {
      width: 65%;
      margin: 80px auto 40px 50px;
    }

    @media screen and (min-width: 1200px) {
      width: 45%;
      margin-top: 20px;
    }
  }

  & h3 {
    color: #cb70f8;
    text-align: left;
    font-size: 5rem;
    // margin-top: 20px;
    margin-bottom: 15px;

    @media screen and (min-width: 1550px) {
      font-size: 7.2rem;
    }
  }

  & p {
    // color: white;
    font-size: 1.6rem;
    padding: 15px;
    color: #bdbdbd;
    line-height: 2.5rem;

    @media screen and (min-width: 720px) {
      font-size: 1.7rem;
    }

    // @media screen and (min-width: 1200px) {
    //   font-size: 1.7rem;
    // }
    @media screen and (min-width: 1550px) {
      font-size: 2.4rem;
      line-height: 3.4rem;
    }
  }
}

.gallery {
  -webkit-column-gap: 0;
  column-gap: 0;
  // max-width: 950px;
  // margin: 20px auto;
  padding-bottom: 70px;
  position: relative;
  // left: 55px;
  width: 100%;
  // right: 55px;

  @media (min-width: 1200px) {
    width: calc(100% - 55px);
  }
}

@media (min-width: 480px) {
  .gallery {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1260px) {
  .gallery {
    -webkit-column-count: 3;
    column-count: 3;
    width: calc(100% - 55px);
  }
}

.gallery-image {
  position: relative;
  margin: 0;
  padding: 0;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 16px solid rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    will-change: border;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 16px solid rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    will-change: border;
    border-width: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    // max-height: auto;
    @media screen and (min-width: 480px) {
      // max-height: 400px;
    }

    @media screen and (min-width: 720px) {
      // height: auto;
    }

    @media screen and (min-width: 1200px) {
      // height: 320px;
    }
  }
}

html:not(.touch) .gallery-image {
  overflow: hidden;

  &:hover {
    &:before {
      border-width: 16px;
    }

    &:after {
      border-width: 32px;
    }
  }
}

.touch .gallery-image figcaption {
  top: auto;
  bottom: 2em;
}

.mfp-with-zoom {
  .mfp-container {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease-out;
  }

  &.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease-out;
    background-color: rgba(0, 0, 0, 0.9);
  }

  &.mfp-ready {
    .mfp-container,
    &.mfp-bg {
      opacity: 1;
    }
  }

  &.mfp-removing {
    .mfp-container,
    &.mfp-bg {
      opacity: 0;
    }
  }

  img.mfp-img {
    padding: 0;
  }

  .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-container {
    padding: 0;
  }

  .mfp-content {
    overflow: hidden;
  }

  .mfp-bottom-bar {
    top: auto;
    bottom: 0;
    margin-top: 0;
  }

  .mfp-title {
    top: auto;
    bottom: 2em;
  }
}

.mfp-arrow {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  &:before,
  &:after {
    margin: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    -webkit-transform: rotate(-45deg) translate(-50%, -100%);
    transform: rotate(-45deg) translate(-50%, -100%);
    opacity: 1;
    top: 50%;
    left: 50%;
    transition: all 0.15s;
  }

  &:active {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95);
  }
}

.mfp-arrow-left {
  left: 0;

  &:before {
    border-top: 2px solid white;
    border-left: 2px solid white;
  }

  &:after {
    border-top: 2px solid white;
    border-left: 2px solid white;
    margin-left: 2rem;
  }

  &:hover:before,
  &:active:before {
    margin-left: 2rem;
  }

  &:hover:after,
  &:active:after {
    margin-left: 0;
  }
}

.mfp-arrow-right {
  right: 0;

  &:before {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }

  &:after {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin-left: 2rem;
  }

  &:hover {
    &:before {
      margin-left: 2rem;
    }

    &:after {
      margin-left: 0;
    }
  }
}

button.mfp-close {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    transition: all 0.15s;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-top: 2px solid white;
    border-left: 2px solid white;
  }

  &:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  &:hover {
    &:before {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    &:after {
      -webkit-transform: rotate(315deg);
      transform: rotate(315deg);
    }
  }

  &:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  height: 100%;
}

// .gallery {
//   display: flex;
//   flex-wrap: wrap;
//   width: 100%;
// }

// .gallery > * {
//   flex: 0 1 300px;
// }
