html:not(.touch) .gallery-image figcaption,
.touch .gallery-image figcaption,
.mfp-with-zoom .mfp-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0);
  padding: 1em;
  transition: all 0.2s ease;
  font-weight: 600;
  max-width: calc(100% - 9em);
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;
}

html:not(.touch) .gallery-image figcaption:before,
.touch .gallery-image figcaption:before,
.mfp-with-zoom .mfp-title:before,
html:not(.touch) .gallery-image figcaption:after,
.touch .gallery-image figcaption:after,
.mfp-with-zoom .mfp-title:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding: 1em;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}

html:not(.touch) .gallery-image figcaption:before,
.touch .gallery-image figcaption:before,
.mfp-with-zoom .mfp-title:before,
html:not(.touch) .gallery-image figcaption:after,
.touch .gallery-image figcaption:after,
.mfp-with-zoom .mfp-title:after {
  right: 100%;
  bottom: 100%;
}

html:not(.touch) .gallery-image figcaption:after,
.touch .gallery-image figcaption:after,
.mfp-with-zoom .mfp-title:after {
  left: 100%;
  top: 100%;
}

html:not(.touch) .gallery-image {
  figcaption.visible,
  &:hover figcaption {
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease 0.3s;
  }
}

.touch .gallery-image figcaption {
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0.3s;
}

.mfp-with-zoom {
  .visible.mfp-title,
  &.mfp-ready .mfp-title {
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease 0.3s;
  }
}

html:not(.touch) .gallery-image {
  figcaption.visible:before,
  &:hover figcaption:before {
    opacity: 1;
  }
}

.touch .gallery-image figcaption:before {
  opacity: 1;
}

.mfp-with-zoom {
  .visible.mfp-title:before,
  &.mfp-ready .mfp-title:before {
    opacity: 1;
  }
}

html:not(.touch) .gallery-image {
  figcaption.visible:after,
  &:hover figcaption:after {
    opacity: 1;
  }
}

.touch .gallery-image figcaption:after {
  opacity: 1;
}

.mfp-with-zoom {
  .visible.mfp-title:after,
  &.mfp-ready .mfp-title:after {
    opacity: 1;
  }
}

html:not(.touch) .gallery-image {
  figcaption.visible:before,
  &:hover figcaption:before {
    right: -1.5em;
    bottom: -1.5em;
  }
}

.touch .gallery-image figcaption:before {
  right: -1.5em;
  bottom: -1.5em;
}

.mfp-with-zoom {
  .visible.mfp-title:before,
  &.mfp-ready .mfp-title:before {
    right: -1.5em;
    bottom: -1.5em;
  }
}

html:not(.touch) .gallery-image {
  figcaption.visible:after,
  &:hover figcaption:after {
    left: -1.5em;
    top: -1.5em;
  }
}

.touch .gallery-image figcaption:after {
  left: -1.5em;
  top: -1.5em;
}

.mfp-with-zoom {
  .visible.mfp-title:after,
  &.mfp-ready .mfp-title:after {
    left: -1.5em;
    top: -1.5em;
  }
}

.portfolioPage {
  position: relative;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 20px;

  @media screen and (min-width: 763px) {
    margin-left: -9%;
  }

  @media screen and (min-width: 950px) {
    margin-left: 13%;
  }

  @media screen and (min-width: 1150px) {
    margin-left: 6%;
  }

  @media screen and (min-width: 1200px) {
    left: 55px;
    padding-bottom: 20px;
  }

  & > .container {
    width: 90%;
    margin: 40px auto 25px;
    @media screen and (min-width: 620px) {
      width: 65%;
    }

    @media screen and (min-width: 950px) {
      margin-left: 40px;
    }

    @media screen and (min-width: 1200px) {
      width: 45%;
      margin-top: 20px;
    }
  }

  & h3 {
    color: #cb70f8;
    text-align: left;
    font-size: 5rem;
    margin-bottom: 15px;

    @media screen and (min-width: 1550px) {
      font-size: 7.2rem;
    }
  }

  & p {
    font-size: 1.6rem;
    padding: 15px;
    color: #bdbdbd;
    line-height: 2.5rem;
    margin-right: 15%;

    @media screen and (min-width: 720px) {
      font-size: 1.7rem;
    }

    @media screen and (min-width: 1550px) {
      font-size: 2.4rem;
      line-height: 3.4rem;
    }
  }
}

.gallery {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
  padding-bottom: 50px;
  padding: 0px 3% 100px;
  margin-left: 9%;
  margin-right: 1%;
  @media screen and (min-width: 359px) {
    padding: 0px 4% 100px;
  }

  @media screen and (min-width: 370px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    grid-auto-rows: minmax(250px, 300px);
    padding: 0px 3% 100px;
  }

  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    grid-auto-rows: minmax(250px, 350px);
    margin-left: 10%;
    margin-right: 4%;
  }

  @media screen and (min-width: 620px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
    grid-auto-rows: minmax(250px, 400px);
    margin-left: 25%;
    padding-right: 0;
    padding-left: 0;
  }
  @media screen and (min-width: 763px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    grid-auto-rows: minmax(250px, 300px);
  }
  @media screen and (min-width: 945px) {
    margin-left: 10%;
  }

  @media (min-width: 1200px) {
    width: calc(100% - 55px);
    grid-template-columns: repeat(auto-fill, minmax(250px, 290px));
    grid-auto-rows: minmax(250px, 290px);
  }

  @media (min-width: 1219px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    grid-auto-rows: minmax(250px, 300px);
  }
}

@media (min-width: 1260px) {
  .gallery {
    width: calc(100% - 55px);
  }
}

.galleryContainer {
  width: 80%;
}

.gallery-image {
  position: relative;
  margin: 0;
  padding: 0;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 16px solid rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    will-change: border;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 16px solid rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    will-change: border;
    border-width: 0;
  }

  .img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 100%;
    background-image: none;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &.portfolio {
      background-image: url("./projects/Portfolio/home1.png");
    }

    &.expensify {
      background-image: url("./projects/Expensify/dashboard.png");
    }
    &.catchOfTheDay {
      background-image: url("./projects/CatchOfTheDay/dashboard1.png");
    }
  }
}

html:not(.touch) .gallery-image {
  overflow: hidden;

  &:hover {
    &:before {
      border-width: 16px;
    }

    &:after {
      border-width: 32px;
    }
  }
}

.touch .gallery-image figcaption {
  top: auto;
  bottom: 2em;
}

.mfp-with-zoom {
  .mfp-container {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease-out;
  }

  &.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease-out;
    background-color: rgba(0, 0, 0, 0.9);
  }

  &.mfp-ready {
    .mfp-container,
    &.mfp-bg {
      opacity: 1;
    }
  }

  &.mfp-removing {
    .mfp-container,
    &.mfp-bg {
      opacity: 0;
    }
  }

  .img.mfp-img {
    padding: 0;
  }

  .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-container {
    padding: 0;
  }

  .mfp-content {
    overflow: hidden;
  }

  .mfp-bottom-bar {
    top: auto;
    bottom: 0;
    margin-top: 0;
  }

  .mfp-title {
    top: auto;
    bottom: 2em;
  }
}

.mfp-arrow {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  &:before,
  &:after {
    margin: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    -webkit-transform: rotate(-45deg) translate(-50%, -100%);
    transform: rotate(-45deg) translate(-50%, -100%);
    opacity: 1;
    top: 50%;
    left: 50%;
    transition: all 0.15s;
  }

  &:active {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95);
  }
}

.mfp-arrow-left {
  left: 0;

  &:before {
    border-top: 2px solid white;
    border-left: 2px solid white;
  }

  &:after {
    border-top: 2px solid white;
    border-left: 2px solid white;
    margin-left: 2rem;
  }

  &:hover:before,
  &:active:before {
    margin-left: 2rem;
  }

  &:hover:after,
  &:active:after {
    margin-left: 0;
  }
}

.mfp-arrow-right {
  right: 0;

  &:before {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }

  &:after {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin-left: 2rem;
  }

  &:hover {
    &:before {
      margin-left: 2rem;
    }

    &:after {
      margin-left: 0;
    }
  }
}

button.mfp-close {
  opacity: 1;
  margin-top: 0 !important;
  width: 20%;
  height: 30%;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    transition: all 0.15s;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-top: 2px solid white;
    border-left: 2px solid white;
  }

  &:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  &:hover {
    &:before {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    &:after {
      -webkit-transform: rotate(315deg);
      transform: rotate(315deg);
    }
  }

  &:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

a {
  text-decoration: none;
  color: inherit;

  @media Screen and (min-width: 300px) {
    margin-bottom: 5px;
  }

  @media Screen and (min-width: 500px) {
    margin-bottom: 7px;
  }

  @media Screen and (min-width: 763px) {
    margin-bottom: inherit;
  }
}

figure {
  height: 100%;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}

// .gallery {
//   display: flex;
//   flex-wrap: wrap;
//   width: 100%;
// }

// .gallery > * {
//   flex: 0 1 300px;
// }
