.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  background: #212121;
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 999;

  @media screen and (min-width: 1200px) {
    position: fixed;
  }

  & li {
    opacity: 1;
    transition: opacity 0.3 ease-in-out;
    position: relative;
    padding: 2px 8px;

    &:first-child {
      padding: 0;
    }

    @media screen and (min-width: 720px) {
      padding: 2px 8px;
    }

    @media screen and (min-width: 1200px) {
      padding: 2px 6px;
      // width: auto;
    }

    @media screen and (min-width: 1550px) {
      padding: 2px 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: column;
    min-height: 100%;
    width: auto;
  }
}

a[data-nav-text] {
  position: relative;
  display: block;
  background-image: none;
  width: 33px;
  height: 33px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;

  @media screen and (min-width: 720px) {
    width: 35px;
    height: 37px;
  }

  @media screen and (min-width: 1200px) {
    width: 43px;
    height: 43px;
  }

  @media screen and (min-width: 1550px) {
    width: 70px;
    height: 70px;
  }

  &.activeNavItem>.homeIcon {
    background-image: url("../images/homee.svg");
    background-color: #212121;
    z-index: 999;
  }

  &.activeNavItem>.aboutIcon {
    background-image: url("../images/user_2.svg");
    background-color: #212121;
    z-index: 999;
  }

  &.activeNavItem>.skillsIcon {
    background-image: url("../images/skills22.svg");
    background-color: #212121;
    z-index: 999;
  }

  &.activeNavItem>.myWorkIcon {
    background-image: url("../images/my-work_2.svg");
    background-color: #212121;
    z-index: 999;
  }

  &.activeNavItem>.contactIcon {
    background-image: url("../images/contact_2.svg");
    background-color: #212121;
    z-index: 999;
  }
}

a[data-nav-text='my work'] {
  bottom: -2px;

  @media screen and (min-width: 1200px) {
    bottom: unset;
  }
}

a[data-nav-text='mess'] {
  bottom: -2px;

  @media screen and (min-width: 1200px) {
    bottom: unset;
  }
}



.icon {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 555;

  &.homeIcon {
    background-image: url("../images/homee2.svg");
  }

  &.aboutIcon {
    background-image: url("../images/user_1.svg");
  }

  &.skillsIcon {
    background-image: url("../images/skill_1.svg");
  }

  &.myWorkIcon {
    background-image: url("../images/my-work_1.svg");
  }

  &.contactIcon {
    background-image: url("../images/contact_1.svg");
  }

  &:hover {
    opacity: 0;
    background-image: none;
  }

  &.linkedInIcon {
    background-image: url("../images/linkedIn_gray.svg");

    &:hover {
      background-image: url("../images/linkedIn_color.svg");
      background-color: #212121;
      z-index: 999;
      opacity: 1;
    }
  }

  &.fbIcon {
    background-image: url("../images/fb.svg");

    &:hover {
      background-image: url("../images/fb2.svg");
      background-color: #212121;
      z-index: 999;
      opacity: 1;
    }
  }

  &.githubIcon {
    background-image: url("../images/github_gray.svg");

    &:hover {
      background-image: url("../images/github_color.svg");
      background-color: #212121;
      z-index: 999;
      opacity: 1;
    }
  }
}

.showDesktop {
  display: none;

  @media screen and (min-width: 600px) {
    display: inline-block;
  }
}

a[data-nav-text]:after {
  content: attr(data-nav-text);
  position: absolute;

  text-transform: uppercase;
  z-index: 1;
  opacity: 0;

  color: #cb70f8;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #212121;
  /* Used if the image is unavailable */
  width: 100%;
  height: 100%;
  letter-spacing: 2px;
  top: 0;
  left: -4px;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  transition: opacity 0.3s ease-in-out;

  @media screen and (min-width: 720px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 1200px) {
    left: 1px;
    font-size: 0.9rem;
  }

  @media screen and (min-width: 1550px) {
    left: 1px;
    font-size: 1.6rem;
  }
}

a[data-nav-text="contact"]::after {
  left: -7px;
  font-size: 0.6rem;

  @media screen and (min-width: 720px) {
    font-size: 1.1rem;
  }

  @media screen and (min-width: 1200px) {
    font-size: 0.8rem;
    left: -5px;
  }
}

a[data-nav-text]:hover::after {
  opacity: 1;
}

.nav-item {
  color: #999999;
  text-decoration: none;
  margin: 0;
  // padding: 8px;
  font-size: 1rem;
}

nav>li:first-child {
  margin-right: auto;
  left: 0;

  @media screen and (min-width: 720px) {
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 20vh;
    margin-right: 0;
    left: 0;
  }
}

nav>.firstSocial {
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    margin-top: auto;
  }
}

.michlIcon {
  display: inline-block;
  background-color: transparent;
  // background-image: url("../images/logo_mobile.svg");
  background-image: url("../images/github_color.svg");
  background-image: url("../images/linkedIn_gray.svg");
  background-image: url("../images/hawks.png");
  background-size: contain;
  // overflow: visible;

  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  width: 40px;
  height: 35px;
  z-index: 999;

  @media screen and (min-width: 1200px) {
    width: 55px;
    height: 55px;
    position: relative;
    left: -5px;
    // background-image: url("../images/THIS_LOGO2.svg");
    background-image: url("../images/hawks.png");
  }

  @media screen and (min-width: 1550px) {
    width: 60px;
    height: 60px;
    // background-image: url("../images/THIS_LOGO3.svg");
    background-image: url("../images/hawks.png");
  }
}

.socialIcons {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    left: 0;
  }
}