.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 5vw;
  flex-direction: column;
  background: #1a1a1a;
  position: relative;
  z-index: 100;
  & li {
    padding: 1rem 0.5rem 1rem 0.5rem;
    opacity: 1;
    transition: opacity 0.3 ease-in-out;
    position: relative;
  }
}

a[data-nav-text] {
  position: relative;
  display: block;
  background-image: none;
  width: 10px;
  height: 10px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  // transition: background-image 0.5s ease-in-out;

  &.activeNavItem > .homeIcon {
    background-image: url("../images/home.svg");
    background-color: #1a1a1a;
    z-index: 999;
  }

  &.activeNavItem > .aboutIcon {
    background-image: url("../images/user2.svg");
    background-color: #1a1a1a;
    z-index: 999;
  }

  &.activeNavItem > .skillsIcon {
    background-image: url("../images/skills2.svg");
    background-color: #1a1a1a;
    z-index: 999;
  }

  &.activeNavItem > .myWorkIcon {
    background-image: url("../images/my-work2.svg");
    background-color: #1a1a1a;
    z-index: 999;
  }

  &.activeNavItem > .contactIcon {
    background-image: url("../images/contact2.svg");
    background-color: #1a1a1a;
    z-index: 999;
  }
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 555;

  &.homeIcon {
    background-image: url("../images/home2.svg");
  }

  &.aboutIcon {
    background-image: url("../images/user.svg");
  }

  &.skillsIcon {
    background-image: url("../images/skills.svg");
  }

  &.myWorkIcon {
    background-image: url("../images/my-work.svg");
  }

  &.contactIcon {
    background-image: url("../images/contact.svg");
  }

  &:hover {
    opacity: 0;
    background-image: none;
  }
}

a[data-nav-text]:after {
  content: attr(data-nav-text);
  position: absolute;
  //display: flex;
  // justify-content: center;
  // align-items: center;
  text-transform: uppercase;
  z-index: 1;
  opacity: 0;
  //   transform: scale(0);
  color: rgba(161, 0, 232, 255);
  text-align: center;
  font-size: 0.75rem;
  background-color: #1a1a1a; /* Used if the image is unavailable */
  width: 100%;
  height: 100%;
  letter-spacing: 2px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;

  transition: opacity 0.3s ease-in-out;
}
a[data-nav-text]:hover::after {
  opacity: 1;
}

.nav-item {
  color: #999999;
  text-decoration: none;
  margin: 0;
  padding: 1rem;
  font-size: 1.7rem;
}

li:first-child {
  margin-bottom: 20vh;
}
