.skillsPage {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    margin-left: 80px;
    padding-bottom: 20px;
  }
}

.sectionOne {
  display: flex;
  flex-direction: column;
  margin: 150px 40px 70px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-top: 80px;
  }
}

.introduction {
  width: 100%;
  display: inline-block;

  @media screen and (min-width: 620px) {
    width: 65%;
  }

  @media screen and (min-width: 1200px) {
    width: 50%;
  }

  & > h3 {
    color: #cb70f8;
    text-align: left;
    font-size: 5rem;
    margin-bottom: 15px;

    @media screen and (min-width: 1550px) {
      font-size: 7.2rem;
    }
  }

  & > p {
    font-size: 1.6rem;
    padding: 15px;
    color: #bdbdbd;
    line-height: 2.5rem;

    @media screen and (min-width: 720px) {
      font-size: 1.7rem;
    }

    @media screen and (min-width: 1200px) {
      font-size: 1.7rem;
    }

    @media screen and (min-width: 1550px) {
      font-size: 2.4rem;
      line-height: 3.4rem;
    }
  }
}

.cubeHolder {
  position: absolute;
  top: 1%;
  right: 13%;
  flex: 1 1 40%;

  @media screen and (min-width: 620px) {
    right: 10%;
  }

  @media screen and (min-width: 720px) {
    top: 6%;
    right: 15%;
  }

  @media screen and (min-width: 1200px) {
    top: 0;
  }
}

.sectionTwo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto 35px;
  padding-bottom: 120px;

  @media screen and (min-width: 720px) {
    width: 60%;
    margin: 0 auto 35px;
  }
}

.twoSides {
  width: 100%;
  display: flex;
  flex-direction: row;

  & h4 {
    font-size: 2.5rem;
    color: #cb70f8;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;

    @media screen and (min-width: 1550px) {
      font-size: 3.2rem;
    }
  }

  & p {
    font-size: 1.5rem;
    color: #bdbdbd;
    padding: 0 15px;
    line-height: 2.3rem;
    margin: 0 10px;
    &.language {
      background: rgba(207, 58, 236, 0.945);
    }

    @media screen and (min-width: 720px) {
      font-size: 1.7rem;
    }

    @media screen and (min-width: 1200px) {
      font-size: 1.7rem;
    }

    @media screen and (min-width: 1550px) {
      font-size: 2.1rem;
      line-height: 3rem;
    }
  }

  & .asDeveloper {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    background-color: #303030;
    margin: 10px 40px;

    @media screen and (min-width: 720px) {
      margin: 10px 10px 20px 50px;
    }

    & .devImg {
      background-position: center;
      background-size: cover;
      background-image: url("../images/keyboard.svg");
      width: 60px;
      height: 60px;
      margin: 0px auto;

      @media screen and (min-width: 1550px) {
        width: 90px;
        height: 90px;
      }
    }
  }

  & .asPerson {
    display: flex;
    flex-direction: column;
    flex: 1 1 49%;
    background-color: #303030;

    & .personImg {
      background-position: center;
      background-size: cover;
      background-image: url("../images/personChar.svg");
      width: 60px;
      height: 60px;
      margin: 0 auto;
    }
  }
}

.vl {
  border-left: 1px solid rgb(155, 155, 155);
  min-height: 100%;
}

.EXAMPLE {
  width: 400px;
  height: 400px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./projects/Portfolio/me.png");
}
