.Typist .Cursor {
  display: inline-block;
  color: #cb70f8;
  font-size: 3.4rem;
  @media screen and (min-width: 1200px) {
    font-size: 4.2rem;
  }

  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
